<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon style="color:black; font-size: x-large;" class="back-icon" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>Booking Details</ion-title>
  </ion-toolbar>
  <br>
  <br>
</ion-header>

<ion-content> 

  <div style="margin-left: 11px; max-width: 94%;">
    <img src={{item.files[0].filePath}} />
  </div>

  <div style="margin-top: 10px; font-size: smaller;">
    <ion-icon name="pin" color="warning" style="font-size: 20px;"></ion-icon>{{item.propertyGroupAddress}}
  </div>
  <div style="margin-top: 6px; margin-left: 10px; font-size: smaller; color:red;">- {{item.distance}} miles away</div>

  <div style="margin-top: 25px; margin-left: 11px; font-weight: bold;">About Place</div>
  <div style="margin-top: 15px; font-size: smaller; max-width: 350px; margin-left: 11px; text-align: justify;">
    {{item.details}}
  </div>

  <div *ngIf="item.amenities" style="margin-top:23px; margin-left: 11px; font-weight: bold;">Amenities</div>
  <div *ngIf="item.amenities" style="margin-top:10px; margin-left: 11px;">
    <ion-row>
      <ion-col *ngFor="let subCategory of item.amenities.split(',');let i=index">
        <img src="{{imageurl}}/{{subCategory.trim().replace(' ','').replace('/','').toLowerCase() | removewhitespaces}}.png" alt="" />
      </ion-col>
    </ion-row>
  </div>

  <div style="margin-top:15px; margin-left: 11px; font-weight: bold;">Operational Hours</div>
  <div *ngFor="let items of item.searchParkingOperationHours" style="color:gray; margin-top:20px; margin-left: 11px;">
    {{items.parkingFromTime}} - {{items.parkingToTime}}
  </div>

  <div style="margin-top:35px; margin-left: 11px; font-weight: bold;">Tip to find</div>
  <div style="margin-top:10px; margin-left: 11px; font-size: smaller; max-width: 359px; text-align: justify;">
    {{item.tipToFind}}
  </div>
  <br>
</ion-content>

<ion-footer style="height: 75px; background-color: #252542;">
  <ion-icon style="color:#3880ff; font-size: larger; margin-top: 20px; margin-left: 9px;" name="information-circle">
  </ion-icon>

  <div style="max-width: 150px; color: white; font-size: 26px; font-weight: bold; margin-left: 31px;
  margin-top: -31px;">$ {{item.pricingAmount}}</div>  
  <br>
  <div style="margin-top: -25px; margin-left: 25px; color: darkgray; font-size: smaller;">price per hour</div>

  <ion-button slot="end" type="submit" style="position: absolute; margin-left: 205px; font-size: x-small; margin-top: 20px; display: block !important;" (click)="presentToast()">Add to bag</ion-button>

  <ion-button slot="end" type="submit" style="position: absolute; margin-left: 280px; font-size: x-small;
  margin-top: 20px; display: block !important;" (click)="proceedtopay()">Proceed to pay</ion-button>

</ion-footer>
