<!-- <ion-header no-border> -->
    <!-- <ion-toolbar no-border> -->
      <!-- <img src="assets/images/bg.jpg" style="height: 108px; width: 98px;"/> -->
        <!-- <ion-buttons  slot="start">
            <ion-button (click)="goback()"  >
              <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
              <a (click)="home()">
              </a>          
            </ion-button>
        </ion-buttons> -->
      <!-- <ion-title  mode="ios" color="primary">Login</ion-title> -->
  
      <!-- <ion-buttons slot="end" >
        <ion-button (click)="goedit()">
        <ion-icon color="primary" name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
        <ion-icon color="primary" name="more"  slot="icon-only"></ion-icon> 
        </ion-button>
      </ion-buttons> -->
    <!-- </ion-toolbar> -->
  <!-- </ion-header> -->
  
  <ion-content padding text-center>
    <img src="assets/images/bg.jpg" style="height: 108px; width: 98px;"/>
      <div  class="form" >
          <h6 style="color:gray; text-align: center; margin-top: 38px; font-size: small;">Welcome to</h6><br>
          <ion-grid>
            <ion-row>
              <ion-col><h3 style="color:#3880ff; text-align:right; margin-top:-10%;">EDYOOS</h3></ion-col>
              <ion-col><h3 style="color:black; margin-top:-10%;">LOG-IN</h3></ion-col>
            </ion-row>
          </ion-grid>
  <br><br>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list margin-top margin-bottom>
          
          <ion-item class="email"> 
            <ion-label position="floating" style="color:gray;">User Name Or Email Address</ion-label>
            <ion-input type="text" tabindex="20" (keyup.enter)="moveFocus(b)" formControlName="email" required></ion-input>
          </ion-item>
          <br><br>
          <ion-item style="max-height: 76px; margin-top: -29px;">
            <ion-label position="floating" style="color:gray; max-width: 280px;">Password</ion-label>
            <ion-input (keyup.enter)="onSubmit()" [type]="passwordType" #b formControlName="password" style="margin-top: -6px; max-width: 280px;" required></ion-input>
            <ion-icon (click)='hideShowPassword()' [name]="passwordIcon" style="margin-left: 315px;
            margin-top: -29px;" item-right></ion-icon>
          </ion-item>
          </ion-list>
          <br>
          
          <ion-grid>
            <ion-row>
              <ion-col style="margin-top: -20px;">
                <div style="margin-left: 7px;">
                  <ion-checkbox slot="start" id="rememberMe" value="remember-me" formControlName="rememberMe" style="height: 17px; width: 17px;"></ion-checkbox>
                  <ion-label style="margin-left: 5%; font-size: small; color: gray;">Remember Me</ion-label>
                </div>
              </ion-col>

              <ion-col style="margin-top: -30px;">
                <div style="margin-right: 7px;">
                  <p class="register-text" (click)="goforgetpassword()"  style="text-align:end; font-size: small;"><a> Forgot Password?</a> </p> 
                </div>    
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <ion-button class="submit-button" type="submit" mode="ios" expand="block" fill="outline" [disabled]="loginForm.invalid || submitBtnDisable">
            <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable" role="status" aria-hidden="true"></span>
            {{submitBtnDisable?'Loading...':'Login'}}
          </ion-button>
          <br><br> 
          </form>
  
      <div style="text-align: center; color:gray; margin-bottom: 33px; margin-top: 13px;">Or</div>

      <ion-row>
        <ion-col class="logo-google">
          <ion-icon name="logo-google" color="danger" (click)="loginGmail()" ></ion-icon>
        </ion-col>
        <ion-col  class="logo-facebook">
          <ion-icon name="logo-facebook" color="primary" (click)="loginFacebook()"></ion-icon>
        </ion-col>
        <ion-col class="logo-apple">
          <ion-icon name="logo-apple" color="dark" (click)="loginApple()"></ion-icon>
        </ion-col>
      </ion-row>
        

      <p class="register-text" (click)="goRegister()" style="text-align: center; margin-top: 47px; font-size: small;">Dont have account?<a> Sign Up</a> </p> <br>


        <!-- <div margin-top margin-bottom (click)="loginphone()" class="tc flex jusify-center align-center flex-wrap w-100">
          <div class="w-100 tc flex align-center justify-center">
              <button class="buttone google flex justify-center align-center" [routerLink]="['/phone-verification']" >Login with Phone</button>
          </div>
        </div>  -->

       
      </div>
  </ion-content>