<ion-header>
  <ion-toolbar>
    <ion-title color="primary" mode="ios">Reset Password</ion-title>
    <a (click)="home()">
      <img src="assets/images/edyoos-logo.svg" class="img-logo" style="height: 34px;"/> </a>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

    <div  class="form">
        <div  class="form">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div formGroupName="passwordGroup">
                <br> 
                <ion-list>

                    <ion-item>
                        <ion-input [type]="passwordType" placeholder="Password" (blur)="logValidationErrors()" formControlName="password"></ion-input>
                    </ion-item>
                    <br>
                    <div *ngIf="formErrors.password" class="text-danger">
                      {{formErrors.password}}
                    </div>

                    <ion-item>
                      <ion-input [type]="passwordType" placeholder="Confirm Password" (blur)="logValidationErrors()" formControlName="passwordConfirmation"></ion-input>
                    </ion-item>
                    <br>
                    <div *ngIf="(formErrors.passwordConfirmation || formErrors.passwordGroup)" class="text-danger">
                      {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation
                        : formErrors.passwordGroup}}
                    </div>
                   
                  </ion-list>
        
                  <ion-button class="goodfont boton"  type="submit" mode="ios" fill="solid" slot="end" color="primary" [disabled]="submitBtnDisable || resetPasswordForm.invalid">
                      <span class="spinner-border spinner-border-sm" *ngIf="submitBtnClicked" role="status" aria-hidden="true"></span>
                          {{submitBtnClicked?'Loading...':'Reset'}}
                  </ion-button>
                  <div class="text-center text-danger mt-2">
                      {{httpError}}
                  </div>
                </div>
            </form>
        </div>
    </div>
 
</ion-content>
