 <!-- <ion-header [translucent]="true"  no-border >  -->
  <!-- <ion-toolbar>  -->
    <!-- <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
      <a (click)="home()">
        <img src="assets/images/edyoos-logo.svg" class="img-logo" style="height: 34px;"/> </a>  
    </ion-buttons> -->
    <!-- <ion-title mode="ios" color="primary">Find parkings</ion-title> -->
    <!-- <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" (ionCancel)="showSearchbar = false"></ion-searchbar> -->
    
  <!-- </ion-toolbar>   -->
    <!-- <ion-button *ngIf="showSearchbar" (click)="getCurrentLocation()"  shape="round" fill="outline" >
        Use current location
      </ion-button> -->
      <!-- <ion-buttons slot="end">
        <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> 
        </ion-buttons>  -->
<!-- </ion-header> -->



<ion-content fullscreen> 

  
  <ion-toolbar slot="fixed" color="translucent"  class="toolsearch"> 
 <ion-searchbar color="light" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search Destination"  (ionClear)="ClearAutocomplete()" style="width: 85%; color: #696969"> </ion-searchbar> 
    <!-- <input placeholder="Search for location" *ngIf="showSearchbar type="text" [(ngModel)]="autocomplete.input" class="form-control" #search [formControl]="searchControl" onfocus="this.value=''"> -->
    <ion-list [hidden]="autocompleteItems.length == 0" >
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item);showSpin=true;showSearchbar=false">
        {{ item.description }}
      </ion-item>
    </ion-list>
    <ion-icon slot="start" name="locate-outline" size="large" item-right (click)="getCurrentLocation()" style="margin-left: 315px;position: absolute;margin-bottom: 73px;"></ion-icon>
  <ion-grid>
      <ion-row>
        
        <ion-col size="2" *ngFor="let mode of modes; let i = index">
          
          <ion-button  expand="full" color="light" style="width: 43px !important; height: 43px !important;" (click)="parkingtype(mode)">  <img src="{{imageurls[i]}}" style="width: 30px !important ;height: 30px !important;max-width:none !important; "></ion-button>

        </ion-col>
        
        <!-- <ion-col size="2">
          <ion-button id="airport" expand="full" color="light" style="width: 43px !important; height: 43px !important;" (click)="parkingtype($event)"></ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button id="truckT" expand="full" color="light" style="width: 43px !important; height: 43px !important;" (click)="parkingtype($event)"></ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button id="boat" expand="full" color="light" style="width: 43px !important; height: 43px !important;" (click)="parkingtype($event)"></ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button id="semitruck" expand="full" color="light" style="width: 43px !important; height: 43px !important;" (click)="parkingtype($event)"></ion-button>
        </ion-col> -->
        <!-- <ion-col size="2">
          <ion-button expand="full" color="light" style="width: 43px !important; height: 43px !important;">Sea</ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button expand="full" color="light" style="width: 43px !important; height: 43px !important;">Heli</ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
</ion-toolbar>
<mat-form-field>
  <mat-select>
    <mat-option>None</mat-option>
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
    <mat-option>Option 3</mat-option>
  </mat-select>
</mat-form-field>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button style="margin-top: -55px; position: absolute; padding-right: 11px;" (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">      
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"  style="height: 100%;"></div>
    <!-- <div id="map_canvas">
      <ion-button ion-button (click)="onButtonClick()" style="height: 100%;">Demo</ion-button>
    </div> -->
  </div>   
  

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
