<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Find parkings</ion-title>
    <!-- <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" (ionCancel)="showSearchbar = false"></ion-searchbar> -->
    
    <ion-searchbar #searchBar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" (ionCancel)="showSearchbar = false"></ion-searchbar>
    <!-- <input placeholder="Search for location" *ngIf="showSearchbar type="text" [(ngModel)]="autocomplete.input" class="form-control" #search [formControl]="searchControl" onfocus="this.value=''"> -->
    <ion-list [hidden]="autocompleteItems.length == 0" *ngIf="showSearchbar">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item);showSpin=true;showSearchbar=false">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-button *ngIf="showSearchbar" (click)="getCurrentLocation()"  shape="round" fill="outline" >
      <ion-icon slot="start" name="locate"></ion-icon>
        Use current location
      </ion-button>
      <ion-buttons slot="end">
        <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> 
       
        
        
      </ion-buttons>

    
  </ion-toolbar>  

</ion-header>
<ion-content [fullscreen]="true"> 
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">      
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"  style="height: 100%;"></div>
    <!-- <div id="map_canvas">
      <ion-button ion-button (click)="onButtonClick()" style="height: 100%;">Demo</ion-button>
    </div> -->
  </div>   

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
