<ion-header>
  <div *ngFor="let parkingDetail of parkingDetailsList"></div>
 
  
<ion-icon defaultHref="/" name="arrow-back-outline"style="
border: 1px solid red;width: 15%; margin-top: 35px; position: absolute;"></ion-icon>  
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-icon color="primary" class="back-icon" name="arrow-back" (click)="home()"></ion-icon> 
      <div id="header1">
        <div style="margin-top: 22px; height: 10px;border-bottom: 1px solid #3880ff;">     
        <span style=" float: right; margin-top: -20px; " ><a (click)="openModal()"><img src="../../../../assets/images/bkedit-icon.png" alt="" /> </a></span>
      </div>
      <hr>
      <div style="margin-top: -20px; height: 26px; text-align: center;">
        <p>A div element .</p>
      </div>
    </div>
    <div class="btn-group" style="float: right;margin-left: 292px;">
      <button> View Map</button>
     
    </div>
    
<div *ngIf="hideMe"> here your content</div>
    <div>
      
      <ion-datetime *ngIf="Isshowing" pickerFormat="DD MMMM YYYY" [min]="datePickerMin" [(ngModel)]="datePicker" (ionChange)=changeDate()></ion-datetime>
    </div>
      <!-- <dp-date-picker placeholder="Check in"  [config]="config"
                (onChange)="fromDateChange(parkingDetail)" theme="dp-material" mode="daytime" #checkIn>
              </dp-date-picker> -->
      
    </ion-buttons>
      
      <!-- <a (click)="home()">
        <img src="assets/images/edyoos-logo.svg" class="img-logo" style="height: 34px;"/> </a>   -->
    
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

<div *ngIf="showMessage">
    <p  class="msg">{{message}}</p>
    <div class="ion-text-center"></div>
</div>
  <ion-card *ngFor="let parkingDetail of parkingDetailsList" (click)="details(parkingDetail)">
    <!-- IMAGE -->
    <div style="margin-left: 11px; max-width: 93%; margin-top: 15px; margin-right: 12px;">
      <img style=" height: 225px;" src={{parkingDetail.files[0].filePath}} /> 
    </div>

    <div style="font-weight:bold; font-size: 13px; margin-top: 20px;  margin-left: 11px;">
      {{parkingDetail.propertyname}}
    </div>

    <div style="font-size: 12px;">
      <ion-icon name="pin" color="warning" style="font-size: 20px; margin-top: 5px;"></ion-icon>
      <div style="color:gray; margin-left: 17px; margin-top: -18px;">{{parkingDetail.propertyGroupAddress}}</div>
    </div>
  
    <div *ngIf="parkingDetail.amenities" style="margin-top: 10px; margin-left: 10px; height: 55px; width: 250px; margin-top: 11px;">
      <ion-row>
        <ion-col *ngFor="let subCategory of parkingDetail.amenities.split(',');let i=index">
          <img src="{{imageurl}}/{{subCategory.trim().replace(' ','').replace('/','').toLowerCase() | removewhitespaces}}.png" alt="" />
        </ion-col>
      </ion-row>     
    </div>


    <div style="color:red; margin-top: 8px; margin-left: 10px;">
      - {{parkingDetail.distance}} Miles away
    </div>

    <div style="float: right; margin-top:-65px; margin-right: 15px;">
      <div style="font-weight: 700; font-size: 18px;">$ {{parkingDetail.calculatedAmount}}</div>
      <div style="color: gray;font-size: 10px;">Per Hour</div>
    </div>

    <div style="float: right;margin-top: 31ox;margin-right: 10px;margin-top: -16px;margin-bottom: 10px;">
      <a style="color:#3880ff" (click)="booking(parkingDetail)">Add to Bag</a>
    </div>


  </ion-card> 
  <ion-card style="position: fixed;width: 100%;bottom: 82px;padding-left: 5px;background: transparent;">
    <div class="btn-group1">
      <button (click)="sort(SortMethodEnum.closest)">Closest</button> </div>
      <div class="btn-group2" (click)="sort(SortMethodEnum.cheapest)"><button>Low to High</button></div>
     <div class="btn-group3"> <button>High to Low </button> </div>
     <div class="btn-group4"> <button>Sort & Filter</button></div>
    
  </ion-card>
</ion-content>
