.msg{
    text-align: center;
    color: red;
    display: block;
}

.spinning{
    position: absolute;
    top:15em;
    left: 20em;
    width: 200px;
    height: 200px;
    z-index: 1;
  }

  .ameimg{
    // background: #4c99f9;
      display: flex;
      padding: 2px;
      border-radius: 2px;
      min-width: 26px;
      min-height: 26px;
      justify-content: center;
      flex-direction: column;
  }
  .ameimg img {
    width: 18px;
  }