
<ion-content>

  <div style="color:gray; font-size: small; position:fixed; margin-top: 24px; margin-left: 147px;">Welcome to</div>
  <br><br>
  <div style="color:#3880ff; text-align:center; position:fixed;">EDYOOS</div>

  <img src="assets/images/welcome-page.jpg" style="position:fixed;"/>
  
  <div style="color:#4f5067; font-weight: bold; font-size: large; position:fixed; margin-top: 445px; 
  margin-left: 86px;">Welcome To Park Here</div>

  <div style="text-align: center; color:gray; font-size: medium; position:fixed; margin-top: 495px;">Find the best possible parking space nearby your destination</div>

  <ion-button style="width: 145px; margin-left: 110px; position:fixed; margin-top: 573px;" type="submit" mode="ios" expand="block" fill="outline" (click)="gologin()">Login</ion-button>
  
  <div style="color:gray; position:fixed; margin-top: 644px; margin-left: 167px;">Or</div>
  
  <ion-button style="width: 145px; margin-left: 110px; position:fixed; margin-top: 684px;" type="submit" mode="ios" expand="block" fill="outline" (click)="gosignup()">Sign Up</ion-button>

</ion-content>
