
<ion-content>

  <!-- <div style="color:gray; font-size: small; position:fixed; margin-top: 24px; margin-left: 147px;">Welcome to</div> -->
  <!-- <br><br>
  <div style="color:#3880ff; text-align:center; position:fixed;">EDYOOS</div> -->
<div style="height: 50%;width: 100%;">
  <img src="assets/images/welcome-page.jpg" style="max-width: 101%;max-height: 163%;margin: auto;display: block;"/>
</div>
  <div style="color: #4f5067; font-weight: bold; font-size: large; margin-top: 34px; margin-left: 86px;">Welcome To Park Here</div>

  <div style="text-align: center; color: gray; position: absolute; font-size: medium; margin-top: 4%;">Find the best possible parking space nearby your destination</div>

  <ion-button style="width: 145px; margin-left: 30%;  margin-top: 19%;" type="submit" mode="ios" expand="block" fill="outline" (click)="gologin()">Login</ion-button>
  
  <div style="color: gray; margin-top: 3%; position: absolute; margin-left: 46%;">Or</div>
  
  <ion-button style="width: 145px; margin-left: 30%;  margin-top: 14%;" type="submit" mode="ios" expand="block" fill="outline" (click)="gosignup()">Sign Up</ion-button>

</ion-content>
