 <!-- <ion-header no-border> -->
  <!-- <ion-toolbar no-border>
    <ion-buttons  slot="start">
        <ion-button [routerLink]="['/']"  >
          <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <a (click)="home()"></a>    
    </ion-buttons>
  </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content padding text-center>

    <div  class="form">
        <img style="margin:auto;" src="assets/icon/ionic_firebase-logo.png" alt="">
        <ion-icon color="primary" style="margin-top: 110px;
        position: absolute;
        font-size: x-large;
        width: 40px;" slot="icon-only" name="arrow-back" (click)="home()"></ion-icon>
        <h6 style="color: black;
        width: 40%;
        margin-left: 22%;
        margin-top: 25%;">REGISTER</h6>
        <!-- <ion-grid>
          <ion-row>
            <ion-col >
               <ion-icon color="primary" slot="icon-only" name="arrow-back" (click)="home()"></ion-icon>
            </ion-col>
            <ion-col >
              <h6 style="color:black;">REGISTER</h6>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <br><br><br><br>
        <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="First Name" (blur)="logValidationErrors()"
              (keyup.enter)="moveFocus(a)"  formControlName="firstName"></ion-input>
            </ion-item>
            <br>
            <div *ngIf="formErrors.firstName" class="text-danger">
              {{formErrors.firstName}}
            </div>

            <ion-item>
              <ion-input type="text" placeholder="Last Name" (blur)="logValidationErrors()"
                (keyup.enter)="moveFocus(b)"  formControlName="lastName"></ion-input>
            </ion-item>  
            <br>
            <div *ngIf="formErrors.lastName" class="text-danger">
              {{formErrors.lastName}}
            </div>

            <ion-item>
              <ion-input type="text" placeholder="Email" (blur)="logValidationErrors()"
                (keyup.enter)="moveFocus(c)"  formControlName="email"></ion-input>
            </ion-item>
            <br>
            <div *ngIf="formErrors.email" class="text-danger">
              {{formErrors.email}}
            </div>
<!-- Password start -->
            <div formGroupName="passwordGroup">
            <ion-item>
                <ion-input [type]="passwordType" (keyup.enter)="moveFocus(d)" 
                placeholder="Password" (blur)="logValidationErrors()" formControlName="password"></ion-input>
                <ion-icon (click)='hideShowPassword()' [name]="passwordIcon" item-right></ion-icon>
            </ion-item>
            <br>
            <div *ngIf="formErrors.password" class="text-danger">
              {{formErrors.password}}
            </div>
            </div>
            
<!-- Password end -->
<!-- Confirm Password start -->
            <div formGroupName="passwordGroup">
            <ion-item>
              <ion-input (keyup.enter)="register()" [type]="passwordConfirmType"
              placeholder="Confirm password"  formControlName="passwordConfirmation"></ion-input>
              <ion-icon (click)='hideShowConfirmPassword()' [name]="passwordConfirmIcon" item-right></ion-icon>
            </ion-item>
            <br>
            <div *ngIf="(formErrors.passwordConfirmation || formErrors.passwordGroup)" class="text-danger">
              {{formErrors.passwordConfirmation ? formErrors.passwordConfirmation: formErrors.passwordGroup}}
            </div> 
            </div>
<!-- Confirm Password end -->
        </ion-list>
        <br>
        
        <ion-button class="goodfont boton"  type="submit" mode="ios" fill="solid" expand="block" color="primary" [disabled]="registerForm.invalid || submitBtnClicked">
          <span class="spinner-border spinner-border-sm" *ngIf="submitBtnClicked" role="status" aria-hidden="true"></span>
             {{submitBtnClicked?'Loading...':'Sign Up'}}
        </ion-button>
        <br>

        <p class="register-text" (click)="terms_and_conditions()" style="text-align: center; color:gray; margin-top: 13%;">By Registering you agree to Terms & Conditions of<a> EDYOOS</a> </p> <br>

        <div style="text-align: center; color:gray; margin-bottom: 5%;">Or</div>

        <ion-row>
          <ion-col class="logo-google">
            <ion-icon name="logo-google" color="danger" (click)="loginGmail()" ></ion-icon>
          </ion-col>
          <ion-col  class="logo-facebook">
            <ion-icon name="logo-facebook" color="primary" (click)="loginFacebook()"></ion-icon>
          </ion-col>
          <ion-col class="logo-apple">
            <ion-icon name="logo-apple" color="dark" (click)="loginApple()"></ion-icon>
          </ion-col>
        </ion-row>
          
  
        <p class="register-text" (click)="goLogin()" style="text-align: center; margin-top: 13%;">You have a account ?<a> LOG-IN</a> </p> <br>

      </form>
    </div>
</ion-content> 

