<ion-header  [translucent]="true">
  <ion-toolbar no-border>
      <ion-buttons *ngIf="!showSearchbar" slot="start">
        <ion-menu-button></ion-menu-button> <a (click)="home()">
          <img src="assets/images/edyoos-logo.svg" class="img-logo" style="height: 34px;"/> </a>    
      </ion-buttons>
    <ion-title  mode="ios" color="primary">Profile</ion-title>
    <div class="editprofile" slot="end">
      <ion-icon name="create-outline" color="primary" (click)="goto_editprofile()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <!-- <img src="assets/img/avatar.png"> -->
    <!-- <div ng-controller="ProfileCtrl"> -->
     
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="assets/img/avatar.png">
          </div>
          <h2 class="profile-name dark">Palak</h2>
          <div class="profile-info">Address</div>
          <br>
          <br>
        </ion-item>
        <br>
        <ion-item>
          <ion-button class="button button-block button-positive profile-item" color="primary" (click)="changeImage()">
            Change
          </ion-button>
          <br>
        </ion-item>
        <br>
      </div>
     
  </div>

  <ion-card>
    <ion-grid>
      <ion-row>

        <ion-col>
          <div class="cart">
            <ion-icon name="cart"></ion-icon> Cart<br><br>
          </div>
        </ion-col>

        <ion-col>
          <div class="orders">
            <ion-icon name="briefcase"></ion-icon>  Orders<br><br>
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-card>

  <div>
    <!-- <ion-icon name="heart-outline" color="primary"></ion-icon>  Your Favourites<br><br> -->
    <div class="payment">
      <ion-icon name="wallet-outline" color="primary"></ion-icon> Payment<br><br>
    </div>
    <div class="settings">
      <ion-icon name="settings-outline" color="primary"></ion-icon>  Settings<br><br>
    </div>
    <div class="logout">
      <ion-icon name="power" color="danger"></ion-icon> Logout<br><br>
    </div>
  </div>

</ion-content>