<ion-header>
	<ion-toolbar>
	
    <ion-buttons fill="outline" slot="end">
			<ion-button (click)="dismiss()">
				Cancel
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content >
	<ion-label stacked color="primary">Parking Type</ion-label>
<!-- <ion-select [(ngModel)]="signup.state" (ionChange)="getcitylist(signup.state)" value="{{Mode}}">
    <ion-option *ngIf="signup.state==0" value="0" [selected]="true">Select State</ion-option>
    <ion-option *ngFor="let state of statelist" [value]="state.state_id">{{state.state_name}}</ion-option>
</ion-select> -->
<br>
<ion-toolbar slot="fixed" color="translucent"  class="toolsearch"> 
	<ion-searchbar color="light" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search Destination"  (ionClear)="ClearAutocomplete()" style="width: 85%; color: #696969"> </ion-searchbar> 
	   <!-- <input placeholder="Search for location" *ngIf="showSearchbar type="text" [(ngModel)]="autocomplete.input" class="form-control" #search [formControl]="searchControl" onfocus="this.value=''"> -->
	   <ion-list [hidden]="autocompleteItems.length == 0" >
		   <div *ngFor="let item of autocompleteItems">
		 <ion-item  tappable (click)="SelectSearchResult(item);showSpin=true;showSearchbar=false">
		   {{ item.description }}
		 </ion-item>
		</div>
	   </ion-list>
	 	 <!-- <ion-grid>
		 <ion-row>
		   
			 
			<ion-item>
				<ion-label>Parking Type</ion-label>
				<ion-select *ngFor="let mode of modes; let i = index" value>
				  <ion-select-option selected>{{mode}}</ion-select-option>
				  
				</ion-select>
			  </ion-item>
		
		
		 </ion-row>
	   </ion-grid> -->
   </ion-toolbar>
   
</ion-content>