<ion-header no-border>
  <ion-toolbar no-border>
      <ion-buttons  slot="start">
          <ion-button [routerLink]="['/']"  >
            <ion-icon mode="ios" color="primary" slot="icon-only" name="arrow-back"></ion-icon>
         </ion-button>
      </ion-buttons>
    <ion-title  mode="ios" color="primary">Forget Password</ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="goedit()">
      <ion-icon color="primary" name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
       <!--  here already <ion-icon color="primary" name="more"  slot="icon-only"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <div  class="form" >
    <h1 class="goodfont" >Edyoos</h1><br>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <ion-list margin-top margin-bottom>
        <br><br><br> <br>
          <ion-item>
              <ion-input type="text" tabindex="20" (keyup.enter)="moveFocus(b)" placeholder="Email" 
              (blur)="logValidationErrors()" required formControlName="email" ></ion-input>
          </ion-item>  
          <div *ngIf="formErrors.email" class="text-danger">
            {{formErrors.email}}
        </div>
        </ion-list>
        <br>
        <div class="text-center text-danger">
          {{httpError}}
        </div>
        <br><br>
        <ion-button type="submit" class="goodfont boton btn" margin-bottom mode="ios"  expand="block"  
         style="max-width: 67%; margin-left: 17%;" [disabled]="forgetPasswordForm.invalid || submitBtnDisable">
          <span class="spinner-border spinner-border-sm" *ngIf="submitBtnDisable" role="status"
            aria-hidden="true"></span>
           {{submitBtnDisable?'Loading...':'Send'}}
        </ion-button>
        <br>
        
      </form>
      <p class="register-text" (click)="gologin()" style="text-align: center;"><a> Back to Login</a> </p> <br>

  </div>

</ion-content>
